<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Necesitamos acceder a su ubicación para obtener el país, estado y ciudad.</string>
	<key>GIDClientID</key>
	<string>791586385783-f3dufff1iqsjss7a9e9u8e7oeh29i8j1.apps.googleusercontent.com</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Usaremos su información de manera anonima para nuestro estudio.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Usaremos su información de manera anonima para nuestro estudio.</string>
	<key>NSHealthClinicalHealthRecordsShareUsageDescription</key>
	<string>Usaremos su información de manera anonima para nuestro estudio.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.791586385783-f3dufff1iqsjss7a9e9u8e7oeh29i8j1</string>
			</array>
		</dict>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
